body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    header {
      background-color: #333;
      color: #fff;
      padding: 1rem;
      text-align: center;
    }
    section {
      padding: 2rem;
    }
    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 1rem;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

.contacts .contact_box .box a {
  background-color: #ff005a;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  padding: 18px 30px;
  transition: all 0.2s;
}
.contacts .contact_box .box a.bordered {
  background: none;
  border: 2px solid #ff005a;
  padding: 16px 28px;
}
