/*body {
	background: url('../img/slap.png') no-repeat;
	background-size: 1200px;
	background-position-x: center;
}*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.item {
	padding: 30px;
	font-size: 25px;
	border: 1px solid black;
	height: fit-content;
	widows: fit-content;
}
.block {
	cursor: not-allowed;
	user-select: none;
}
.box {
	display: flex;
	justify-content: space-around;
	align-content: flex-start;
}

.back {
	display: block;
	height: 200px;
	width: 200px;
	position: relative;
	left: 800px;
	top: 100px;
	padding: 30px;
	font-size: 25px;
	border: 5px solid black;
	text-align: center;
	text-decoration: none;
}

.zag {
	margin: 0;
}

.Persimmon {
	color: #f8481c;
}

.blue {
	color: blue;
}

.bright-orange {
	color: orange;
}


.container{overflow:hidden;}
.box{white-space:nowrap}
.box div{width:400px;display:inline-block;border:5px solid black}